In [2]:
Create DATABASE AGENCIA_CARROS

In [3]:
USE AGENCIA_CARROS

In [4]:
CREATE TABLE Cliente(
 Cod_Cliente int PRIMARY KEY,
 Nome VARCHAR(45) NOT NULL,
 CPF VARCHAR (45) NOT NULL UNIQUE,
 Sexo VARCHAR(20),
 Estado VARCHAR(45),
 Cidade VARCHAR(45) DEFAULT 'itapira',
 Bairro VARCHAR(45),
 Numero VARCHAR(45),
 Rua VARCHAR(45),
 TelefoneFixo VARCHAR(45),
 TelefoneCelular VARCHAR(45) NOT NULL UNIQUE
)

In [5]:
CREATE TABLE Carro(
Cod_Carro int PRIMARY KEY,
 Placa VARCHAR(45),
 Marca VARCHAR (45),
 Modelo VARCHAR(20),
 Ano VARCHAR(45),
 Chassi VARCHAR(45),
 Cor VARCHAR(45)
)

In [6]:
CREATE TABLE Apolice(
Cod_Apolice INT NOT NULL PRIMARY KEY,
ValorCobertura DECIMAL NOT NULL,
 ValorFranquia DECIMAL NOT NULL,
 DataInicioVigencia  DATE NOT NULL CHECK (DataInicioVigencia > GetDate()),
DataFimVigencia DATE NOT NULL,
 Ano VARCHAR(45) NOT NULL,
 Cliente_CodCliente INT  REFERENCES Cliente (Cod_Cliente),
 Carro_CodCarro INT  REFERENCES Carro (Cod_Carro)
)

In [8]:
CREATE TABLE Sinistro(
Cod_Sinistro  INT,
 PRIMARY KEY(Cod_Sinistro,Carro_CodCarro),
HoraSinistro INT,
DataSinistro DATE,
LocalSinistro VARCHAR(45),
Condutor VARCHAR(45),
Carro_CodCarro INT  REFERENCES Carro(Cod_Carro)
)